@{
    ViewBag.Title = "Utilisateur :";
}

<div id="myModalUsuario" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <form id="formUsuario" onsubmit="return false;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group text-center">
                                <img id="idAvatar" src="/images/default pic.jpg" class="avatar img-circle img-thumbnail">
                                <h6 for="idAvatar" class="hidden">Sube una foto diferente...</h6>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @*<label for="Nombre">Nombre :</label>
                                <input id="Nombre" name="Nombre" type="text" class="form-control input-sm" />*@
                                @*@Html.LabelFor(model => model.Usuario.Nombre, "Nombre :", new { @class = "control-label" })*@
                                <div class="control-label ">
                                    @*@Html.EditorFor(model => model.Usuario.Nombre, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.Usuario.Nombre, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @*<label for="Appelido">Appelido :</label>
                                <input id="Appelido" name="Appelido" type="text" class="form-control input-sm" />*@
                                @*@Html.LabelFor(model => model.Usuario.Apellidos, "Apellidos :", new { @class = "control-label" })*@
                                <div class="control-label ">
                                    @*@Html.EditorFor(model => model.Usuario.Apellidos, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.Usuario.Apellidos, "", new { @class = "text-danger" })*@
                                </div>

                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Usuario.UserId, "Id Usuario :", new { @class = "control-label" })*@
                                <div class="control-label ">
                                    @*@Html.EditorFor(model => model.Usuario.UserId, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.Usuario.UserId, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                @*<label for="Email">Email :</label>
                                <input id="Email" name="Email" type="email" class="form-control input-sm" />*@
                                @*@Html.LabelFor(model => model.Usuario.Email, "Email :", new { @class = "control-label" })*@
                                <div class="control-label ">
                                    @*@Html.EditorFor(model => model.Usuario.Email, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.Usuario.Email, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                @*<label for="Tel">Tel :</label>
                                <input id="Tel" type="tel" class="form-control input-sm" />*@
                                @*@Html.LabelFor(model => model.Usuario.TelUsuario, "Tel :", new { @class = "control-label" })*@
                                <div class="control-label ">
                                    @*@Html.EditorFor(model => model.Usuario.TelUsuario, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.Usuario.TelUsuario, "", new { @class = "text-danger" })*@
                                </div>

                            </div>
                            <div class="form-group">
                                @*<label for="Password">Password :</label>
                                 <input id="Password" name="Password" type="password" class="form-control input-sm" />*@
                                @*@Html.LabelFor(model => model.Usuario.Password, "Password :", new { @class = "control-label" })*@
                                <div class="control-label ">
                                    @*@Html.EditorFor(model => model.Usuario.Password, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.Usuario.Password, "", new { @class = "text-danger" })*@
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Role :</label>&nbsp;
                                <input id="user" type="radio" name="estado" value="2" checked> <label for="user"> Usuario</label>&nbsp;
                                <input id="Admin" type="radio" name="estado" value="1"> <label for="Admin"> Administrador</label>&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="text-danger" id="errorMsgDiv"></div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-default col-md-2 pull-right myclose" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-success col-md-4 pull-right" id="idbtnRegisterUsuario">Registrar Usuario</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*~/bundles/jqueryval*@
<script src="~/js/jquery.validate-vsdoc.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
