@model Commerce.Amazon.Domain.Models.Request.Auth.SendLinkEmailRequest

@{
	ViewBag.Title = "Cambiar Contraseña";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Processus de renouvellement du mot de passe <br /></h2>
<h4>Nous procéderons à vous envoyer un e-mail pour réinitialiser votre mot de passe.</h4>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
        <h2>Saisissez votre email</h2>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<div class="col-md-12">
				@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-sm" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

		@if (ViewBag.Success != null && ViewBag.Success)
		{
			<div class="text-success">
				@ViewBag.Message
			</div>
		}
		else if (ViewBag.Success != null && !ViewBag.Success)
		{
			<div class="text-danger">
				@ViewBag.Message
			</div>
		}
		<div class="form-group">
			<div class="col-md-12">
				<input type="submit" value="Enviar" class="btn btn-purple form-control" />
			</div>
		</div>
	</div>
}
