@model Commerce.Amazon.Domain.Models.Request.Auth.AuthenticationRequest

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section class="login_content">
    <img style="width:60%" src="/images/LogoApp.png" />
    @using (Html.BeginForm())
    {
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "no_max_with form-control", placeholder = "Email", required = "" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "no_max_with form-control", placeholder = "Password", required = "" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group text-danger">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <button class="btn btn-purple form-control">Entrer</button>
        </div>
        <div class="form-group">
            @Html.ActionLink("Vous avez oublié votre mot de passe et souhaitez le modifier? Cliquez ici", "ForgotPassword", "Account")
        </div>
    }
</section>
